// Colores
$primary-color: #25a067;
$secondary-color: #02c7649c;
$background-color: cornsilk !default;
$text-color: #333;
$white: #fff;
$dark: #333;
$black: #000;

// Tipografía
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$line-height: 1.6;

// Breakpoints
$breakpoint-md: 768px;

// Transiciones
$transition-time: 0.4s;