/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: cornsilk;
}

/* Sección principal */
.principal {
    background: linear-gradient(140deg, #25a067 0%, #02c7649c 100%);
}

/* Tarjetas de animales */
.card {
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Formulario de contacto */
#contactForm {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
}

/* Videos */
.ratio {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

/* Medidas para responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .hero p {
        font-size: 1rem;
    }
}